/* These styles, or something like them should be added during W2D1
  blue: #228bdc;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  max-width: 100%;
}


/* Fonts and Colors */
.emphasized-section {
  background-color:  #228bdc;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-size: 37px;
}

h4 {
  font-size: 21px;
}

p {
  font-size: 16px;
}

.date {
  color: #228bdc;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  flex: 1;
}

.job-title {
  font-size: 16px;
  margin:0;
  flex: 2;
}

.company-name {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  flex: 1;
}

footer {
  background-color: #323232;
  color: white;
}

footer a {
  font-size: 12px;
}

#skills div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

#skills div meter {
    order: 0;
    flex: 2 1 auto;
    align-self: auto;
    margin: 0px 10px;
    width: auto;
}
#skills h5 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    width: 4%;
    text-align: right;
}
#skills span{
      order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

/* Margin / Padding */

header, footer, section {
  padding:95px 10% 15px 10%;
  margin: 0;
  height: 100vh;
}

/* Layout & Flexbox */
nav, nav div {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: baseline;
}

nav div a {
  margin-left: 10px;
}
nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 0% 5% 0% 5%;
}
nav p{
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
  text-align: right;
}
nav ul li{
  display: inline-block;
  padding: 8px 40px 8px 40px ;
}

.name-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #3e404040;
  border-radius: 5%;
  margin: 5%;
}
.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0 5% 0;
}

.name-container h1,
.name-container h4,
footer h2,
footer h4 {
  padding-bottom: 5px;
  margin:0;
}

.name-container h4 {
  font-weight: 200;
}


.date-and-job, .company-details {
  display: flex;
  align-items: baseline;
}

.date, .company-name {
  text-align: right;
  box-sizing: border-box;
  padding-right: 10px;
}

.experience-entry {
  margin-bottom: 30px;
}

.experience-entry p {
  flex: 2;
}

.about-2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
}

/* Transitions */

nav li a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

/* Pseudo Selectors */

nav li a:hover {
  color: black;
}


meter {
  width: 100%;
}

meter::-webkit-meter-bar {
  background: #228bdc;
}

meter::-webkit-meter-optimum-value {
  background: white;
}
.readmore {
  background-color:black;
  border-radius:42px;
  border:1px solid aliceblue;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:19px;
  padding:9px 13px;
  text-decoration:none;
}
.readmore:hover {
  background-color:#0000007a;
}
.readmore:active {
  position:relative;
  top:1px;
}
.dwnBtn {
  background-color:transparent;
  border-radius:42px;
  border:1px solid aliceblue;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:19px;
  padding:9px 13px;
  text-decoration:none;
}
.dwnBtn:hover {
  background-color:transparent;
}
.dwnBtn:active {
  position:relative;
  top:1px;
}
.profil{
  height: 300px;
  border-radius: 50%;
  border: 5px solid #dadada;
}
.starbuck{
  border-radius: 50%;
  height:50px;
  width: auto;
}
header{
  background: url(tile_background.png),#228bdc;
  background-size: 25%;
  animation: animatedBackground 100s linear infinite;
  background-attachment: fixed;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
.img-shadow
{
  animation: glow 5s linear 2s infinite alternate;
  overflow: hidden;
  filter: drop-shadow(0 0 0px #000);
}
@keyframes glow {
    0%   {filter: drop-shadow(0 0 0px #000);}
    25%  {filter: drop-shadow(0 0 4px #fff);}
    50%  {filter: drop-shadow(0 0 6px #fff);}
    75%  {filter: drop-shadow(0 0 8px #fff);}
    100% {filter: drop-shadow(0 0 10px #fff);}
}
#wall{
  height: auto;
  width: 100%;
  padding: 0;
  background: blue;

}
#wall .inner{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  width: auto;
  overflow: auto;
  box-shadow: inset 0px 0px 55px 0px rgba(0,0,0,0.75);
  }  
#wall .inner img{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 250px;
  width: auto;
}